/* titel font here 👇 
font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
 */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fire-brick: rgb(167, 61, 40);
    --special-grey: rgb(232, 232, 232);
}

body {}


#homePage{
    cursor: pointer;
}
header {
    background-color: white;
    text-align: center;
    /* Center the content horizontally */
    padding: 20px;
    /* Add some padding for spacing */
}

header nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Center items vertically */
}

.left-nav ul {
    display: flex;
    /* Remove default list styles */
    list-style: none;
}

.left-nav ul li {
    /* Optional: Add some spacing between list items */
    padding-right: 24px;
    font-size: 1rem;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 200;
}

.mid-nav h1 {
    font-size: 2rem;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    padding-right: 200px;
}

.right-nav i {
    font-size: 2rem;
}


/* styling drop down 👇 */

/* shop👇 */
.shop-nav-container {
    display: flex;
    align-items: stretch; /* Make items stretch vertically */
    gap: 20%;
    padding-left: 20%;
    padding-bottom: 5%;
}

.shop-left-area{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.all-clothing{
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
    font-weight: bold;  
    
}
.all-clothing-li{
    padding-top: 5%;
    
}

.shop-left-area {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    flex: 1; /* Allow flex-grow to fill the available space */
}
.shop-left-area ul li {
    list-style: none;
    padding-top: 10%;
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
}
.accessories{
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
    font-weight: bold;  
}

.accessories-li{
    padding-top: 5%;
}


/* om os 👇 */
.om-os-nav-container{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    
}
.om-os-nav-area{
    display: flex;
    gap: 20%;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-weight: bold;
    padding-top: 5%;
    padding-left: 39%;
}


.bæredygtighed{
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-weight: bold;
}
.vision-mission-vædier {
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    font-weight: bold;
}
/* styling drop down 👆 */



/* styling left area 👇 */
.hoodie-container{
    display: flex;
    flex-direction: row;
}
.left-area{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.big-img-hoodie{
    height: auto;
    width: 60vh;
}
.small-img-hoodie{
    height: auto;
    width: 20vh;
}

.small-img-hoodie-container{
    display: flex;
    flex-direction: column;
}



/* styling left area 👆 */