.bar,.foo {
  color: red
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --fire-brick: rgb(167, 61, 40);
  --special-grey: rgb(232, 232, 232)
}

.logo,body {
  display: flex
}

body {
  flex-direction: column
}

.logo {
  width: 35%
}

header {
  background-color: #fff;
  text-align: center;
  padding: 20px
}

.mid-nav img,header nav {
  display: flex;
  align-items: center
}

header nav {
  justify-content: space-between
}

.left-nav ul {
  display: flex;
  list-style: none
}

.left-nav ul li {
  padding-right: 24px;
  font-size: 1rem;
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"700;
  font-weight: 600
}

.left-nav ul li a,.right-nav ul li a {
  text-decoration: none;
  color: #000
}

.left-nav ul li a:hover,.right-nav ul li a:hover {
  color: #a73828
}

.mid-nav img {
  width: 35%;
  margin-left: 10%
}

.right-nav i {
  font-size: 2.5rem
}

.all-clothing__accessories-container {
  display: flex;
  flex-direction: row;
  gap: 20%;
  list-style: none;
  padding-top: 3%
}

.shop-nav-container {
  display: flex;
  gap: 70%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: #e4e2e2
}

.shop-left-area {
  padding-left: 3%
}

.shop-right-area {
  margin-left: 10%
}

.all-clothing {
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400;
  font-weight: 700
}

.all-clothing-li {
  padding-top: 5%
}

.shop-left-area {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  flex: 1
}

.shop-left-area ul li {
  list-style: none;
  padding-top: 10%
}

.shop-right-area {
  padding-top: 3%;
  padding-right: 16%
}

.accessories,.shop-left-area ul li {
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400
}

.accessories {
  font-weight: 700
}

.accessories-li {
  padding-top: 5%
}

.accessories-li li {
  list-style: none;
  padding-top: 6%
}

.all-clothing__accessories-container li {
  color: gray;
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400
}

.all-clothing__accessories-container li:hover,.brand-container li,.juridiske-info-container li,.support-container li {
  color: #000;
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400
}

.om-os-nav-container {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  background-color: #e4e2e2
}

.om-os-nav-area {
  display: flex;
  gap: 20%;
  padding-top: 5%;
  padding-left: 35%
}

.bæredygtighed,.om-os-nav-area,.vision-mission-vædier {
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400;
  font-weight: 700
}

.lookbook-section {
  position: relative
}

.lookbook-title {
  text-align: center;
  font-family: "Fractul Variable",sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 30px
}

.quote {
  text-align: center;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 40px
}

.lookbook {
  display: flex;
  justify-content: space-between;
  margin-top: 20px
}

.lookbook-item {
  position: relative;
  flex: 1;
  text-align: center;
  transition: transform .3s
}

.lookbook-item img {
  width: 100%;
  height: auto;
  cursor: pointer
}

.lookbook-item:hover {
  transform: scale(1.05)
}

.indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: .8rem
}

@media (max-width:844px) {
  .lookbook {
      flex-direction: column
  }

  .lookbook-item {
      flex: none;
      width: 100%
  }
}

@media (max-width:768px) {
  .lookbook-title {
      font-size: 1.5rem;
      margin-top: 20px
  }

  .quote {
      margin-bottom: 30px
  }
}

@media (max-width:480px) {
  .lookbook-title {
      font-size: 1.2rem;
      margin-top: 10px
  }

  .quote {
      margin-bottom: 20px
  }
}

.footer-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  padding-bottom: 10%
}

.footer-tekst-container {
  display: flex;
  gap: 25%;
  justify-content: center
}

.line-black {
  height: auto;
  width: 90%;
  padding-left: 10%;
  padding-top: 2%
}

.brand-container p,.juridiske-info-container p,.support-container p {
  font-family: "fractul-variable",sans-serif;
  font-variation-settings: "wght"400;
  font-size: 2rem;
  cursor: pointer
}

.brand-container li,.juridiske-info-container li,.support-container li {
  font-size: 15px;
  list-style: none;
  padding-top: 10px;
  color: #989595;
  cursor: pointer
}

.brand-container li:hover,.juridiske-info-container li:hover,.support-container li:hover {
  color: #000
}

.icons-container {
  display: flex;
  gap: 2%;
  padding-left: 13%
}

.sidebar,aside {
  display: none
}

@media (max-width:768px) {
  .footer-area {
      padding-bottom: 5%;
      padding-left: 10%;
      text-align: center
  }

  .footer-tekst-container {
      flex-direction: column;
      gap: 2rem
  }

  .line-black {
      width: 130%;
      padding-left: 0
  }

  .icons-container {
      padding-left: 0;
      justify-content: center
  }
}