/* titel font here 👇 
font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fire-brick: rgb(167, 61, 40);
    --special-grey: rgb(232, 232, 232);
}

body {}

header {
    background-color: white;
    text-align: center;
    /* Center the content horizontally */
    padding: 20px;
    /* Add some padding for spacing */
}

header nav {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Center items vertically */
}

.left-nav ul {
    display: flex;
    /* Remove default list styles */
    list-style: none;
}

.left-nav ul li {
    /* Optional: Add some spacing between list items */
    padding-right: 24px;
    font-size: 1rem;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 200;
}

.mid-nav h1 {
    font-size: 2rem;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 400;
    padding-right: 200px;
}

.right-nav i {
    font-size: 2rem;
}


/* styling drop down 👇 */


.shop-nav-container {
    display: flex;
    align-items: stretch; /* Make items stretch vertically */
    gap: 20%;
    padding-left: 20%;
    padding-bottom: 5%;
}

.shop-left-area{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
.all-clothing{
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
    font-weight: bold;  
    
}
.all-clothing-li{
    padding-top: 5%;
    
}

.shop-left-area {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    flex: 1; /* Allow flex-grow to fill the available space */
}
.shop-left-area ul li {
    list-style: none;
    padding-top: 10%;
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
}
.accessories{
    font-family: "fractul-variable",sans-serif; font-variation-settings: 'wght' 400;
    font-weight: bold;  
}

.accessories-li{
    padding-top: 5%;

}

/* styling drop down 👆 */




/* styling front page video 👇 */
.video-section {
    position: relative; /* Change to relative positioning */
    height: 100vh; /* Adjust the height as needed */
}

.font-page-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-page-btn-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items horizontally */
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-page-h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "fractul-variable", sans-serif;
    font-variation-settings: 'wght' 200;
}

.btn {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.arrow-container {
    position: absolute;
    bottom: 20px;
    /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
}

.arrow-down {
    font-size: 2rem;
    color: var(--fire-brick);
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}















/* email container section 👇 */
.email-member-section {
    background-color: white;
    /* Black background color for the section */
    color: white;
    /* Text color */
    padding: 20px;
    /* Add some padding */
    position: relative; /* Change to relative positioning */
    margin-top: 20%; /* Adjust margin to create space between sections */
    margin-bottom: 20%; /* Adjust margin to create space between sections */

}

.email-container {
    width: 80%;
    /* Set width of the container */
    margin: 0 auto;
    /* Center the container horizontally */
    text-align: center;
    /* Center text horizontally */
}

.input-area {
    display: flex;
    gap: 2rem;
    padding-left: 30%;
}

.email-container h2 {
    font-size: 3rem;
    /* Adjust heading font size */
    margin-bottom: 10px;
    color: var(--fire-brick);
    /* Add some space below the heading */
}

.email-container p {
    font-size: 1.5rem;
    /* Adjust paragraph font size */
    margin-bottom: 20px;
    color: #000000;
    /* Add some space below the paragraph */
}

.email-container span{
    color: var(--fire-brick);
}

.email-container input[type="text"] {
    width: 40%;
    /* Set input field width to 100% */
    padding: 10px;
    /* Add some padding */
    margin-bottom: 10px;
    /* Add some space below the input field */
}

.email-container input[type="submit"] {
    background-color: white;
    /* Use the fire-brick color for the button background */
    color: var(--fire-brick);
    /* Text color */
    border: 2px solid black; /* Add a black border */
    /* Remove border */
    padding: 10px 20px;
    /* Add padding */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    font-size: 2rem;
}
